<div class="btn-group btn-group-sm pull-right">
  <% if policy(resource).show? %>
    <%= link_to translate_scoped("actions.show"), resource, class: "btn btn-default" %>
  <% end %>
  <% if policy(resource).edit? %>
    <%= link_to translate_scoped("actions.edit"), [:edit, resource], class: "btn btn-default"  %>
  <% end %>
  <% if policy(resource).destroy? %>
    <% if resource.active? %>
      <%= link_to translate_scoped("actions.conclude"), match_match_conclusions_path(resource), method: :post,
        class: "btn btn-danger", data: { confirm: translate_scoped("actions.conclude_confirm_message") } %>
    <% else %>
      <%= link_to translate_scoped("actions.destroy"), resource, method: :delete,
        class: "btn btn-danger", data: { confirm: translate_scoped("actions.confirm_message") } %>
    <% end %>
  <% end %>
</div>
