<div class="ui centered grid container">
  <div class="row">
    <div class="sixteen wide mobile nine wide tablet six wide computer column">
      <p></p>
      <h2 class="ui header">
        <i class="group icon"></i>
        <div class="content">
          Duo Stockholm
          <div class="sub header">Intresseanmälan</div>
        </div>
      </h2>

      <div class="ui divider"></div>

      <form class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Förnamn</label>
            <input type="text" name="name" placeholder="Skriv ditt namn">
          </div>

          <div class="field">
            <label>Efternamn</label>
            <input type="text" name="name" placeholder="Skriv ditt namn">
          </div>
        </div>

        <div class="field">
          <label>E-postadress</label>
          <input type="text" name="email" placeholder="Skriv din e-postadress">
        </div>

        <div class="field">
          <label>Jag kommer från</label>
          <div class="ui fluid selection dropdown">
            <i class="dropdown icon"></i>
            <span class="default text">Välj land</span>
            <div class="menu">
              <div class="item">
                <i class="af flag"></i> Afghanistan
              </div>
              <div class="item">
                <i class="ax flag"></i> Åland Islands
              </div>
              <div class="item">
                <i class="al flag"></i> Albania
              </div>
            </div>
          </div>
        </div>

        <div class="grouped fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden" checked>
              <label>
                Jag har bott länge i landet<br>
                <small>
                  och vill bli matchad med en nyanländ
                </small>
              </label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden">
              <label>
                Jag är ny i landet<br>
                <small>
                  och vill bli matchad med någon som bor här
                </small>
              </label>
            </div>
          </div>
        </div>

        <div class="ui divider"></div>

        <button class="ui big green button" type="submit">
          <i class="check icon"></i>
          Anmäl intresse
        </button>
      </form>
    </div>
  </div>
</div>
