<div class="ui stackable four column grid">
  <div class="column">
    <h1>Duo Stockholm</h1>
    <h2>Duo Stockholm vill skapa möten mellan nyanlända och etablerade svenskar,
    något som idag till stor del saknas naturligt. Det handlar om en frivillig,
    social kontakt där båda har intresse av att träffa varandra.</h2>
    <p>Du som är nyanländ får möjlighet att lära känna en person som kan mer om det svenska samhället,
    att prata svenska med och som kanske blir en ny vän.
    Du som är etablerad får möjlighet att lära känna en annan kultur, få nya perspektiv och kanske en ny vän.
    Genom att träffas vinner ni båda nya erfarenheter och får nya kontakter.
    Vi vill skapa förutsättningar för ökad förståelse och ett mer öppet samhälle.</p>
    <h3>Vi vänder oss till dig som antingen är</h3>
      <ul>
        <li><strong>Nyanländ/utrikesfödd:</strong> Du är ny i Sverige och i Europa. Du kan ha kommit nyligen eller har bott flera år i Sverige.
        Du läser exempelvis SFI eller är inskriven på Jobbtorg Stockholm.
        Du kan kommunicera på lätt svenska, och vill lära dig mer.
        Du har uppehållstillstånd och är minst 18 år.</li>
        <li><strong>Etablerad:  </strong> Du som har kunskap om det svenska samhället och känner dig bekväm i det svenska språket.
        Du är minst 18 år. För tillfället har vi många etablerade som väntar på att bli matchade.</li>
    </ul>
  <h3>Exempel på saker ni kan göra tillsammans</h3>
  <ul>
    <li>Gå på promenad</li>
    <li>Gå på sportevenemang, t.ex. en fotbollsmatch</li>
    <li>Gå på museum</li>
    <li>Gå på Parkteater</li>
    <li>Ha picknick</li>
    <li>Plocka svamp</li>
    <li>Baka bullar</li>
    <li>Gå på språkfika</li>
  </ul>
  <p>För dig som är med i Duo Stockholm erbjuder vi gemensamma aktiviteter, där du får uppleva Stockholm och träffa ännu fler kontakter.</p>
  <h3>Duo Stockholms värdegrund</h3>
  <ul>
    <li>Allas lika värde</li>
    <li>Jämställdhet</li>
    <li>Respektfullt beteende</li>
    <li>Integration är en ömsesidig process där alla lär av varandra</li>
  </ul>
</div>
<div class="column">
    <div class="ui raised padded container segment">
      <h2>Jag vill vara med!</h2>
      <p>Namn:</p>
      <div class="ui input">
      <input type="text" placeholder="Mitt namn är...">
      </div>
      <p></p>
      <p>E-post:</p>
      <div class="ui input">
        <input type="text" placeholder="Min mejladress är...">
      </div>
      <p></p>
      <button class="ui green button">Anmäl mig</button>
</div></div>
  <div class="column"></div>
  <div class="column"></div>
</div>
