<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= raw Rails.configuration.conclusion_mail_content.gsub(/{name}/, @person.name)
                                                       .gsub(/{survey_link}/, @survey_link) %>
  </body>
</html>
