<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= raw markdown @content.gsub(/{newcomer}/, @match.newcomer.name)
                             .gsub(/{established}/, @match.established.name) %>
  </body>
</html>
