<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hej <%= @match.newcomer.name %> och <%= @match.established.name %>!</h1>
    <p>Ni har ni varit matchade sedan <%= @match.created_at_as_date %>.</p>
  </body>
</html>
